@use "../mixins/responsive" as *;

@mixin paragraphStyles($personColor, $principalSize, $secondarySize) {
  .card-paragraph__principal {
    padding: 20px 0;
    color: $personColor;
    z-index: 9;

    font: {
      size: $principalSize;
    }
  }

  .card-paragraph__secondary {
    color: $personColor;
    opacity: 70%;
    font-size: $secondarySize;
  }

  @include breakpoint() {
    font-weight: 600;
  }
}
