@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

.card {
  width: 337px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2%;
}
.card .card__profile {
  display: flex;
  align-items: center;
}

.card-daniel {
  position: relative;
  background-color: #7541c8;
}
.card-daniel .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #a775f1;
  border-radius: 50%;
}
.card-daniel .card__profile-name {
  color: #ecf2f8;
}
.card-daniel .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-daniel .card-paragraph__principal {
  padding: 20px 0;
  color: white;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-daniel .card-paragraph__secondary {
  color: white;
  opacity: 70%;
  font-size: 16px;
}
.card-daniel .card__quotation {
  position: absolute;
  right: 22px;
  top: 1px;
}

.card-jonathan {
  background-color: #48556a;
}
.card-jonathan .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
}
.card-jonathan .card__profile-name {
  color: #ecf2f8;
}
.card-jonathan .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-jonathan .card-paragraph__principal {
  padding: 20px 0;
  color: white;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-jonathan .card-paragraph__secondary {
  color: white;
  opacity: 70%;
  font-size: 14px;
}

.card-jeanette {
  background-color: white;
}
.card-jeanette .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
}
.card-jeanette .card__profile-name {
  color: #19212e;
}
.card-jeanette .card__profile-status {
  color: #19212e;
  opacity: 50%;
  font-size: small;
}
.card-jeanette .card-paragraph__principal {
  padding: 20px 0;
  color: #19212e;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-jeanette .card-paragraph__secondary {
  color: #19212e;
  opacity: 70%;
  font-size: 16px;
}

.card-patrick {
  background-color: #19212e;
}
.card-patrick .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #7541c8;
  border-radius: 50%;
}
.card-patrick .card__profile-name {
  color: #ecf2f8;
}
.card-patrick .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-patrick .card-paragraph__principal {
  padding: 20px 0;
  color: #ecf2f8;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-patrick .card-paragraph__secondary {
  color: #ecf2f8;
  opacity: 70%;
  font-size: 15.5px;
}

.card-kira {
  background-color: white;
  background-color: white;
}
.card-kira .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #48556a;
  border-radius: 50%;
}
.card-kira .card__profile-name {
  color: #19212e;
}
.card-kira .card__profile-status {
  color: #19212e;
  opacity: 50%;
  font-size: small;
}
.card-kira .card-paragraph__principal {
  padding: 20px 0;
  color: #19212e;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-kira .card-paragraph__secondary {
  color: #19212e;
  opacity: 70%;
  font-size: 15.5px;
}

.container {
  width: 100%;
  background-color: #ecf2f8;
  padding: 1rem 0;
}

/*# sourceMappingURL=main.css.map */
