@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

.card {
  width: 337px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2%;
}
.card .card__profile {
  display: flex;
  align-items: center;
}

.card-daniel {
  position: relative;
  background-color: #7541c8;
  grid-area: daniel;
}
.card-daniel .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #a775f1;
  border-radius: 50%;
}
.card-daniel .card__profile-name {
  color: #ecf2f8;
}
.card-daniel .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-daniel .card-paragraph__principal {
  padding: 20px 0;
  color: white;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-daniel .card-paragraph__secondary {
  color: white;
  opacity: 70%;
  font-size: 16px;
}
.card-daniel .card__quotation {
  position: absolute;
  right: 22px;
  top: 1px;
}
@media screen and (min-width: 678px) {
  .card-daniel .card__quotation {
    right: 48px;
  }
}
@media screen and (min-width: 678px) {
  .card-daniel {
    width: 450px;
  }
  .card-daniel .card-paragraph__principal {
    padding: 20px 0;
    color: white;
    z-index: 9;
    font-size: 17.5px;
    font-weight: 600;
  }
  .card-daniel .card-paragraph__secondary {
    color: white;
    opacity: 70%;
    font-size: 12px;
  }
}

.card-jonathan {
  background-color: #48556a;
  grid-area: jonathan;
}
.card-jonathan .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
}
.card-jonathan .card__profile-name {
  color: #ecf2f8;
}
.card-jonathan .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-jonathan .card-paragraph__principal {
  padding: 20px 0;
  color: white;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-jonathan .card-paragraph__secondary {
  color: white;
  opacity: 70%;
  font-size: 14px;
}
@media screen and (min-width: 678px) {
  .card-jonathan {
    width: 233px;
  }
  .card-jonathan .card-paragraph__principal {
    padding: 20px 0;
    color: white;
    z-index: 9;
    font-size: 19.5px;
    font-weight: 600;
  }
  .card-jonathan .card-paragraph__secondary {
    color: white;
    opacity: 70%;
    font-size: 13px;
  }
}

.card-jeanette {
  background-color: white;
  grid-area: jeanette;
}
.card-jeanette .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
}
.card-jeanette .card__profile-name {
  color: #19212e;
}
.card-jeanette .card__profile-status {
  color: #19212e;
  opacity: 50%;
  font-size: small;
}
.card-jeanette .card-paragraph__principal {
  padding: 20px 0;
  color: #19212e;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-jeanette .card-paragraph__secondary {
  color: #19212e;
  opacity: 70%;
  font-size: 16px;
}
@media screen and (min-width: 678px) {
  .card-jeanette {
    width: 233px;
  }
  .card-jeanette .card-paragraph__principal {
    padding: 20px 0;
    color: #19212e;
    z-index: 9;
    font-size: 21.5px;
    font-weight: 600;
  }
  .card-jeanette .card-paragraph__secondary {
    color: #19212e;
    opacity: 70%;
    font-size: 14.5px;
  }
}

.card-patrick {
  background-color: #19212e;
  grid-area: patrick;
}
.card-patrick .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #7541c8;
  border-radius: 50%;
}
.card-patrick .card__profile-name {
  color: #ecf2f8;
}
.card-patrick .card__profile-status {
  color: #ecf2f8;
  opacity: 50%;
  font-size: small;
}
.card-patrick .card-paragraph__principal {
  padding: 20px 0;
  color: #ecf2f8;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-patrick .card-paragraph__secondary {
  color: #ecf2f8;
  opacity: 70%;
  font-size: 15.5px;
}
@media screen and (min-width: 678px) {
  .card-patrick {
    width: 450px;
  }
  .card-patrick .card-paragraph__principal {
    padding: 20px 0;
    color: #ecf2f8;
    z-index: 9;
    font-size: 17px;
    font-weight: 600;
  }
  .card-patrick .card-paragraph__secondary {
    color: #ecf2f8;
    opacity: 70%;
    font-size: 11.5px;
  }
}

.card-kira {
  background-color: white;
  background-color: white;
  grid-area: kira;
}
.card-kira .card__profile-avatar {
  width: 40px;
  margin-right: 18px;
  border: 3px solid #48556a;
  border-radius: 50%;
}
.card-kira .card__profile-name {
  color: #19212e;
}
.card-kira .card__profile-status {
  color: #19212e;
  opacity: 50%;
  font-size: small;
}
.card-kira .card-paragraph__principal {
  padding: 20px 0;
  color: #19212e;
  z-index: 9;
  font-size: 23.5px;
  font-weight: 600;
}
.card-kira .card-paragraph__secondary {
  color: #19212e;
  opacity: 70%;
  font-size: 15.5px;
}
@media screen and (min-width: 678px) {
  .card-kira {
    width: 240px;
  }
  .card-kira .card-paragraph__principal {
    padding: 20px 0;
    color: #19212e;
    z-index: 9;
    font-size: 20px;
    font-weight: 600;
  }
  .card-kira .card-paragraph__secondary {
    color: #19212e;
    opacity: 70%;
    font-size: 14px;
  }
}

.container {
  width: 100%;
  padding: 1rem 0;
}
@media screen and (min-width: 678px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
  }
}

/*# sourceMappingURL=main.css.map */
