@use "../abstract/colors" as c;
@use "../mixins/cards" as *;
@use "../mixins/paragraphs" as *;
@use "../mixins/responsive" as *;

.card-daniel {
  position: relative;
  grid-area: daniel;
  @include cardProfileComponent(c.$moderate-violet, c.$border-purple, c.$light-grayish-blue);
  @include paragraphStyles(c.$white, 1.47rem, 1rem);

  .card__quotation {
    position: absolute;
    right: 1.1rem;
    top: 1px;
    opacity: 50%;
    width: 8.5em;

    @include breakpoint() {
      right: 4rem;
      width: 7.5em;
    }
  }

  @include breakpoint() {
    @include paragraphStyles(c.$white, 1.1rem, 0.74rem);
  }
}
