@use "../mixins/responsive" as *;

.card {
  width: 337px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2%;

  .card__profile {
    display: flex;
    align-items: center;
  }

  @include breakpoint() {
    width: auto;
    height: auto;
    margin: 0;
  }
}
