@use "../abstract/colors" as c;
@use "../mixins/cards" as *;
@use "../mixins/paragraphs" as *;
@use "../mixins/responsive" as *;

.card-daniel {
  position: relative;
  @include cardProfileComponent(c.$moderate-violet, #a775f1, c.$light-grayish-blue);
  @include paragraphStyles(c.$white, 23.5px, 16px);
  grid-area: daniel;

  .card__quotation {
    position: absolute;
    right: 22px;
    top: 1px;

    @include breakpoint() {
      right: 48px;
    }
  }

  @include breakpoint() {
    @include paragraphStyles(c.$white, 17.5px, 12px);
  }
}
