@forward "abstract";
@forward "components";
@use "./mixins/responsive" as *;

.container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint() {
    width: 941px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    grid-gap: 16px;
    // height: 100vh;
    padding: 13em 0;
    align-items: stretch;
    grid-template-areas:
      "daniel   daniel  jonathan  kira"
      "jeanette patrick patrick   kira";
  }
}
