@forward "abstract";
@forward "components";

.container {
  width: 100%;
  padding: 1rem 0;

  @media screen and (min-width: 678px) {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
}
