@use "colors" as c;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$light-grayish-blue;
  font: {
    family: "Barlow Semi Condensed", sans-serif;
    size: 81.25%;
  }
  position: relative;
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 6px;
  right: 40%;
}

.attribution > a {
  color: c.$attribution-a;
}
